<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hollow Knight Wiki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="void-background"></div>

<header>
    <h1 class="glitch-title">HOLLOW KNIGHT</h1>
    <p>МЕЖДУ ПУСТОТОЙ И ДУШОЙ</p>
</header>

<div class="menu-container">
    <a href="/charms" class="hk-btn">АМУЛЕТЫ</a>
    <a href="/slots" class="hk-btn">ЯЧЕЙКИ АМУЛЕТОВ</a>
    <a href="/vessels" class="hk-btn">ОСКОЛКИ СОСУДА</a>
    <a href="/masks" class="hk-btn">ОСКОЛКИ МАСОК</a>
    <a href="/abilities" class="hk-btn">СПОСОБНОСТИ</a>
    <a href="/enemies" class="hk-btn">ВРАГИ</a>
    <a href="/endings" class="hk-btn">КОНЦОВКИ</a>
</div>

</body>
</html>